@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";

$widescreen: 960px + (2 * $gap);
$fullhd: 960px + (2 * $gap);

$box-shadow: none;
$box-radius: 0;

main {
  min-height: calc(100vh - 232px);
  background-color: $light;
}
.is-fullheight {
  height: 100%;
}
.box {
  color: $warning;
}
.category-list .box {
  background-color: $warning;
  padding: 6rem 2rem;
  box-shadow: none;
}
.hero .title {
  font-family: 'Poppins';
  letter-spacing: 3px;
  line-height: 1.4;
}
.resource-list .box {
  border-bottom: 2px solid $warning;
}
@import "~bulma/bulma";
